* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  margin: 0;
  padding: 15px;
}

/* Title */
h1 {
  text-align: center;
  color: #38bdf8;
  margin-bottom: 20px;
}

/* Container vertical */
.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  margin: auto;
}

/* Boxes */
.box {
  background: #1e293b;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

/* Box titles */
.box h2 {
  margin-bottom: 10px;
  color: #7dd3fc;
}

/* Timer */
#timer {
  font-size: 22px;
  font-weight: bold;
  color: #22c55e;
  margin-bottom: 10px;
}

/* Labels */
label {
  display: block;
  margin-top: 8px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #38bdf8;
}

/* Inputs */
input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
  background: #334155;
  color: white;
}

/* Buttons */
button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #38bdf8;
  font-weight: bold;
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

/* Relapse button red */
#relapseBtn {
  background: #ef4444;
  color: white;
}

/* Notes list */
.noteItem {
  background: #334155;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.noteDate {
  color: #38bdf8;
  font-size: 14px;
}

.noteText {
  font-size: 14px;
}

/* Phone optimization */
@media (max-width: 600px) {

  body {
    padding: 10px;
  }

  #timer {
    font-size: 20px;
  }

  label {
    font-size: 13px;
  }

  textarea {
    height: 80px;
  }

}




.blog-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.blog-post {
    background-color: #38bdf8;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.blog-post img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.blog-post h3 {
    font-size: 1.8em;
    margin-top: 10px;
    /*font-family: 'Nerko One', cursive;*/
    font-family: 'Oswald', Arial, sans-serif;
}

.blog-post p {
    font-size: 1em;
    color: #666;
    line-height: 1.6;
}

.blog-post .date {
    font-size: 0.9em;
    color: #999;
    margin-top: 5px;
}


